@import "reset";
@import "mixins";


$cc-brown:#64391c;
$cc-brown-font:#643c1f;
$cc-gray:#a5a5a5;

$saa-red:#f94a2d;
$saa-bright-red:#ff0700;

@import "related-item";

// Global Styles
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.btn{
	//border:1px solid red;
	//padding:10px;
}

.main-wrapper{
	@include center-max-width(625px);
	margin:5em auto;
	>h2{
		color:$saa-red;
		margin-bottom:1em;
		font-size:18px;
	}
	.proto-example-wrapper{
		margin-bottom:1em;
		>p a{
			color:$saa-bright-red;
			text-decoration:underline;
		}
	}
}

.nav-wrapper{
	@include center-max-width(625px);
	margin:5em auto;
	position:relative;
}

.linebreak{
	background-color: #e5e5e5;
    border-color: #e5e5e5;
    color: #000;
    display:block;
    width:100%;
    height:1px;
    margin-top:1em;
}

.deity-name-wrapper{
	width:80%;
	height:100px;
	position:relative;
	background-color:$saa-red;
	padding-left:33px;
	z-index:10;
	// lower triangle
	@include transition(background-color, 0.2s, ease-out);
	&:before{
		content:'';
		width:0;
		height:0;
		position:absolute;
		bottom:-45px; left:0;
		border-top:45px solid $saa-red;
		border-right:45px solid transparent;
		@include transition(border-top, 0.2s, ease-out);
		z-index: 10;
	}
	// far right triangle
	&:after{
		content:'';
		width:50px;
		height:0;
		position:absolute;
		right:-45px; top:0;
		border-top:100px solid $saa-red;
		border-right:46px solid transparent;
		@include transition(border-top, 0.2s, ease-out);
	}

	@include breakpoint(550){
		width:283px;
	}
}

// Mobile Version - allows the deity names to be revealed on mobile screens
.deity-name-dropdown{
	position:absolute;
	height:100px;
	width:25%;
	right:-25%;
	top:0;
	cursor:pointer;
	background-color:darken($saa-red, 18%);

	.arrow-down{
		position:absolute;
		bottom:15%; right:15%;
	}

	@include breakpoint(550){
		display:none;
	}
}

.deity-name{
	color:white;
	@include vertical-align();
	font-size:1.5em;
	letter-spacing:0.1em;
	@include transition(top, 0.2s, ease-out);
	@include transition(opacity, 0.2s, ease-out);
	@include single-text-shadow(2px, 2px, 1px, rgba(0,0,0, 0.5));
}

@keyframes deity-name-inout {
  0% {
    top:50%;
  }
  50% {
    top:90%;
    @include opacity(0);
  }
  75% {
  	top:25%;
  	@include opacity(0);
  }
  100% {
  	top:50%;
    @include opacity(1);
  }
}


.deity-name-active{
	animation: deity-name-inout 1s 1;
	
}

.deity-nav-items-mobile{
	width:100%;
	//position:absolute;
	//top:0px;
	z-index:1;
	overflow-y:hidden;
	//border:5px solid purple;
	//@include opacity(0);
	//display:none;
	
	>ul{
		//position:absolute;
		//top:-900px;
		//width:100%;
		margin-top:-900px;
		@include transition(all, 0.2s, ease-out);
	}
	>ul a{
		color:white;
		display:block;
		padding:1em 2em;
		background:darken($saa-red, 10%);
		&:nth-child(odd){
			text-align: right;
			background:darken($saa-red, 15%);
		}

	}

	@include breakpoint(550){
		display:none;
	}
}

.deity-nav-items-mobile--on{
	//top:100px;
	//height:800px;
	>ul{
		margin-top:0;
		
	}
	//display:block;
}

.deity-nav-items{
	position:absolute;
	left:320px;top:0;
	display:none;
	@include breakpoint(550){
		display:flex;
	}
}

.deity-nav-item{
	display: inline-block;
		width: 15px;
		height: 55px;
		margin-right:0.25em;
		@include transition(height, 0.2s, ease-out);
		@include transition(margin-right, 0.2s, ease-out);
		@include transition(margin-left, 0.2s, ease-out);
		@include transition(background-color, 0.2s, ease-out);
		-webkit-transform: skew(-25deg);
		   -moz-transform: skew(-25deg);
		     -o-transform: skew(-25deg);
		background: black;
}

.deity-nav-item-hover{
	background-color:lighten($saa-red, 10%);
}

.deity-nav-item-active{
	height:200px;
	margin-left: -34px;
    margin-right: 38px;
    background: $saa-red;
}




// Filter Prototypes
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//Slideout section
.filter-slideout-wrapper{
	//border:1px solid orange;
	@include center-max-width(890px);
	//padding:0 19px;
	margin-top:100px;
	margin-bottom:100px;
	//height:2000px;
	overflow:hidden;
	position:relative;
}


.wrapper-header{
	height:50px;
	background-color:$saa-bright-red;
	position:relative;
	z-index:5;
}

.wrapper-header-filter-btn, .wrapper-header-slidedown-filter-btn{
	display:inline-block;
	padding:0.75em 1.25em;
	color:white;
	margin-left:19px;
	margin-top:5px;
	&:hover{
		color:$cc-gray;
	}
}
.wrapper-header-text{
	color:white;
	float:right;
	line-height:40px;
	padding-right:19px;
	margin-top:5px;
}

.filter-sidebar{
	background:white;
	position:absolute;
	top:50px;
	left:-288px;
	width:288px;
	height:100%;
	@include transition(left, 0.3s, ease-out);
	overflow:scroll;
	.filter-form-wrapper{
		margin:10px auto 100px;
    	padding: 1em;
    	//border-top: 1px solid black;
    	//border-bottom: 1px solid black;
	}
}

.filter-sidebar-active{
	left:0;
	@include box-shadow($horiz:0.25em, $vert:0em, $blur:4px, $spread:-2px, $color: rgba(0,0,0,0.75em));
}

.filter-slidedown{
	@extend .filter-sidebar;
	left:0;
	width:100%;
	height:400px;
	top:-400px;
	@include transition(top, 0.3s, ease-out);
	z-index:1;
}

.filter-slidedown-active{
	top:50px;
}

.content-container{
	border:1px solid blue;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items: center;
    //justify-content: center;
	>li{
		border:1px solid purple;
		//height:350px;
		background:gray;
		//width:33%;
		width:100%;
		display: block;
		//margin: 0 0.25em 0.25em 0;
		list-style-type: none;
		text-align:center;
		margin-bottom: 1%;	
		//padding: 2%;
		padding:5em;
		color:aquamarine;
		font-size:16px;
		@include breakpoint(650){
			width:33%;
		}
	}
}


// FILTER - FORM elements
.filter-form-wrapper{
	//border:1px solid gray;
	@include center-max-width(300px);
	margin:100px auto;
}

.filter-form-dimension{
	//border:1px solid red;
}

.filter-form-heading{
	//border:1px solid blue;
	text-transform: uppercase;
    font-size: 14px;
    padding: 21px 0 5px;
    cursor: pointer;
    position: relative;
    &:hover{
    	color:red;
    }
}

.filter-form--option{
	font-style: normal;
	font-weight: 400;
	//border:1px solid orange;
	&:after{
		content:'+';
		position:absolute;
		right:8px;
		top:21px;
		width:1em;
		height:1em;
		//border:1px solid red;
	}
}

.filter-form-option-selects{
	//border:1px solid green;
	max-height: 0px;
    line-height: 24px;
    @include opacity(0);
    overflow-y: hidden;
    visibility: hidden;
    width: 100%;
    @include transition(all, 0.3s, ease-out);
    >ul{
    	margin: 0 0 4px;
    	//border:2px solid purple;
    }
}

.filter-form-selects-checkbox{
	display:block;
	//border:1px solid pink;
	padding-left:27px;
	position:relative;
	color:black;
	font-size:14px;
	@include transition(color, 0.1s, ease-out);
	&:hover{
		color:$saa-bright-red;
	}
	&:before{
		content: '';
	    width: 14px;
	    height: 14px;
	    border: 1px solid #e5e5e5;
	    border-radius: 2px;
	    display: inline-block;
	    margin-left: -27px;
	    position: relative;
	    top: 3px;
	}
	>label{
		margin-left: -2px;
		cursor:pointer;
	}

}

.filter-form-selects-checkbox.selected{
		&:after{
			position: absolute;
		    -webkit-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    content: '';
		    border-width: 0 0 2px 2px !important;
		    height: 6px;
		    width: 9px;
		    border: solid #111;
		    margin: 9px 0 0 2px;
		    left: 0;
		    top: 0;
		}
	}

// An Open Filter option
.filter-form-option-in{
	display:block;
	visibility:visible;
	max-height:999em;
}
.filter-form-option-open{
	&:after{
		content:'-';
	}
}

.fade-in{
	@include opacity(1);
}


// 'More Filters Button'
.more-filters-btn{
	text-align:center;
	border:1px solid $cc-gray;
	>a{
		display:block;	
		padding:10px;
		@include transition(all, 0.2s, ease-out);
		&:hover{
			background:$saa-bright-red;
			color:white;
		}
	}
}

// Date Ranger Slider
#amount{
	margin:1em auto;
}
#slider{
	@include center-max-width(80%);
}
.ui-slider-handle{ outline:none; }







