html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, object, video {
  max-width: 100%;
  border: 0; }

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a, a:visited, a:hover {
  text-decoration: none; }

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

.nav-wrapper {
  margin: 0px auto;
  max-width: 625px;
  margin: 5em auto;
  position: relative; }

.linebreak {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #000;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 1em; }

.deity-name-wrapper {
  width: 283px;
  height: 100px;
  position: relative;
  background-color: #f94a2d;
  padding-left: 33px;
  -webkit-transition: background-color, 0.2s, ease-out;
  -moz-transition: background-color, 0.2s, ease-out;
  -ms-transition: background-color, 0.2s, ease-out;
  -o-transition: background-color, 0.2s, ease-out;
  transition: background-color, 0.2s, ease-out; }
  .deity-name-wrapper:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -45px;
    left: 0;
    border-top: 45px solid #f94a2d;
    border-right: 45px solid transparent;
    -webkit-transition: border-top, 0.2s, ease-out;
    -moz-transition: border-top, 0.2s, ease-out;
    -ms-transition: border-top, 0.2s, ease-out;
    -o-transition: border-top, 0.2s, ease-out;
    transition: border-top, 0.2s, ease-out; }
  .deity-name-wrapper:after {
    content: '';
    width: 50px;
    height: 0;
    position: absolute;
    right: -45px;
    top: 0;
    border-top: 100px solid #f94a2d;
    border-right: 46px solid transparent;
    -webkit-transition: border-top, 0.2s, ease-out;
    -moz-transition: border-top, 0.2s, ease-out;
    -ms-transition: border-top, 0.2s, ease-out;
    -o-transition: border-top, 0.2s, ease-out;
    transition: border-top, 0.2s, ease-out; }

.deity-name {
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
  letter-spacing: 0.1em;
  -webkit-transition: top, 0.2s, ease-out;
  -moz-transition: top, 0.2s, ease-out;
  -ms-transition: top, 0.2s, ease-out;
  -o-transition: top, 0.2s, ease-out;
  transition: top, 0.2s, ease-out;
  -webkit-transition: opacity, 0.2s, ease-out;
  -moz-transition: opacity, 0.2s, ease-out;
  -ms-transition: opacity, 0.2s, ease-out;
  -o-transition: opacity, 0.2s, ease-out;
  transition: opacity, 0.2s, ease-out;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); }

@keyframes deity-name-inout {
  0% {
    top: 50%; }
  50% {
    top: 90%;
    opacity: 0;
    filter: alpha(opacity=0); }
  75% {
    top: 25%;
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100); } }
.deity-name-active {
  animation: deity-name-inout 1s 1; }

.deity-nav-items {
  position: absolute;
  left: 320px;
  top: 0;
  display: flex; }

.deity-nav-item {
  display: inline-block;
  width: 15px;
  height: 55px;
  margin-right: 0.25em;
  -webkit-transition: height, 0.2s, ease-out;
  -moz-transition: height, 0.2s, ease-out;
  -ms-transition: height, 0.2s, ease-out;
  -o-transition: height, 0.2s, ease-out;
  transition: height, 0.2s, ease-out;
  -webkit-transition: margin-right, 0.2s, ease-out;
  -moz-transition: margin-right, 0.2s, ease-out;
  -ms-transition: margin-right, 0.2s, ease-out;
  -o-transition: margin-right, 0.2s, ease-out;
  transition: margin-right, 0.2s, ease-out;
  -webkit-transition: margin-left, 0.2s, ease-out;
  -moz-transition: margin-left, 0.2s, ease-out;
  -ms-transition: margin-left, 0.2s, ease-out;
  -o-transition: margin-left, 0.2s, ease-out;
  transition: margin-left, 0.2s, ease-out;
  -webkit-transition: background-color, 0.2s, ease-out;
  -moz-transition: background-color, 0.2s, ease-out;
  -ms-transition: background-color, 0.2s, ease-out;
  -o-transition: background-color, 0.2s, ease-out;
  transition: background-color, 0.2s, ease-out;
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  background: black;
  /*&:hover{
  	background-color:lighten($saa-red, 10%);
  }*/ }

.deity-nav-item-hover {
  background-color: #fa755f; }

.deity-nav-item-active {
  height: 200px;
  margin-left: -34px;
  margin-right: 38px;
  background: #f94a2d; }

.filter-slideout-wrapper {
  border: 1px solid orange;
  margin: 0px auto;
  max-width: 890px;
  margin-top: 100px;
  overflow: hidden;
  position: relative; }

.wrapper-header {
  height: 50px;
  background-color: #ff0700;
  position: relative;
  z-index: 5; }

.wrapper-header-filter-btn, .wrapper-header-slidedown-filter-btn {
  display: inline-block;
  padding: 0.75em 1.25em;
  color: white;
  margin-left: 19px;
  margin-top: 5px; }
  .wrapper-header-filter-btn:hover, .wrapper-header-slidedown-filter-btn:hover {
    color: #a5a5a5; }

.wrapper-header-text {
  color: white;
  float: right;
  line-height: 40px;
  padding-right: 19px;
  margin-top: 5px; }

.filter-sidebar, .filter-slidedown {
  background: black;
  position: absolute;
  top: 50px;
  left: -288px;
  width: 288px;
  height: 100%;
  -webkit-transition: left, 0.3s, ease-out;
  -moz-transition: left, 0.3s, ease-out;
  -ms-transition: left, 0.3s, ease-out;
  -o-transition: left, 0.3s, ease-out;
  transition: left, 0.3s, ease-out; }

.filter-sidebar-active {
  left: 0; }

.filter-slidedown {
  left: 0;
  width: 100%;
  height: 400px;
  top: -400px;
  -webkit-transition: top, 0.3s, ease-out;
  -moz-transition: top, 0.3s, ease-out;
  -ms-transition: top, 0.3s, ease-out;
  -o-transition: top, 0.3s, ease-out;
  transition: top, 0.3s, ease-out;
  z-index: 1; }

.filter-slidedown-active {
  top: 50px; }

.content-container {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .content-container > li {
    border: 1px solid purple;
    background: gray;
    width: 33%;
    display: block;
    list-style-type: none;
    text-align: center;
    margin-bottom: 1%;
    padding: 5em;
    color: aquamarine;
    font-size: 16px; }

.filter-form-wrapper {
  margin: 0px auto;
  max-width: 300px;
  margin: 100px auto; }

.filter-form-heading {
  text-transform: uppercase;
  font-size: 14px;
  padding: 21px 0 5px;
  cursor: pointer;
  position: relative; }

.filter-form--option {
  font-style: normal;
  font-weight: 400; }
  .filter-form--option:after {
    content: '+';
    position: absolute;
    right: 8px;
    top: 21px;
    width: 1em;
    height: 1em; }

.filter-form-option-selects {
  max-height: 0px;
  line-height: 24px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow-y: hidden;
  visibility: hidden;
  width: 100%;
  -webkit-transition: all, 0.3s, ease-out;
  -moz-transition: all, 0.3s, ease-out;
  -ms-transition: all, 0.3s, ease-out;
  -o-transition: all, 0.3s, ease-out;
  transition: all, 0.3s, ease-out; }
  .filter-form-option-selects > ul {
    margin: 0 0 4px; }

.filter-form-selects-checkbox {
  display: block;
  padding-left: 27px;
  position: relative;
  color: black;
  font-size: 14px;
  -webkit-transition: color, 0.1s, ease-out;
  -moz-transition: color, 0.1s, ease-out;
  -ms-transition: color, 0.1s, ease-out;
  -o-transition: color, 0.1s, ease-out;
  transition: color, 0.1s, ease-out; }
  .filter-form-selects-checkbox:hover {
    color: #ff0700; }
  .filter-form-selects-checkbox:before {
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    display: inline-block;
    margin-left: -27px;
    position: relative;
    top: 3px; }
  .filter-form-selects-checkbox > label {
    margin-left: -2px;
    cursor: pointer; }

.filter-form-selects-checkbox.selected:after {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: '';
  border-width: 0 0 2px 2px !important;
  height: 6px;
  width: 9px;
  border: solid #111;
  margin: 9px 0 0 2px;
  left: 0;
  top: 0; }

.filter-form-option-in {
  display: block;
  visibility: visible;
  max-height: 999em; }

.filter-form-option-open:after {
  content: '-'; }

.fade-in {
  opacity: 1;
  filter: alpha(opacity=100); }

.more-filters-btn {
  text-align: center;
  border: 1px solid #a5a5a5; }
  .more-filters-btn > a {
    display: block;
    padding: 10px;
    -webkit-transition: all, 0.2s, ease-out;
    -moz-transition: all, 0.2s, ease-out;
    -ms-transition: all, 0.2s, ease-out;
    -o-transition: all, 0.2s, ease-out;
    transition: all, 0.2s, ease-out; }
    .more-filters-btn > a:hover {
      background: #ff0700;
      color: white; }

#amount {
  margin: 1em auto; }

#slider {
  margin: 0px auto;
  max-width: 80%; }

.ui-slider-handle {
  outline: none; }

/*# sourceMappingURL=style.css.map */
