html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img, object, video {
  max-width: 100%;
  border: 0; }

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0; }

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a, a:visited, a:hover {
  text-decoration: none; }

.related-item-wrapper {
  margin: 0px auto;
  max-width: 900px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap; }
  .related-item-wrapper > p {
    display: block;
    flex-basis: 100%;
    margin-bottom: 10px; }

.related-item {
  position: relative;
  overflow: hidden;
  width: 100%;
  flex-basis: 100%;
  max-height: 215px; }
  .related-item .rollover-to-reveal-figcap {
    display: block;
    color: black; }
    .related-item .rollover-to-reveal-figcap:hover .related-item-caption {
      bottom: 0;
      background-color: white; }
  .related-item .rollover-to-scale-img-and-reveal-copy {
    display: block;
    color: black; }
    .related-item .rollover-to-scale-img-and-reveal-copy .related-item-img {
      -webkit-transition: all, 0.4s, ease-out;
      -moz-transition: all, 0.4s, ease-out;
      -ms-transition: all, 0.4s, ease-out;
      -o-transition: all, 0.4s, ease-out;
      transition: all, 0.4s, ease-out;
      transform: scale(1.12); }
    .related-item .rollover-to-scale-img-and-reveal-copy .related-item-caption {
      bottom: 0; }
      .related-item .rollover-to-scale-img-and-reveal-copy .related-item-caption > p {
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all, 0.5s, ease-out;
        -moz-transition: all, 0.5s, ease-out;
        -ms-transition: all, 0.5s, ease-out;
        -o-transition: all, 0.5s, ease-out;
        transition: all, 0.5s, ease-out; }
    .related-item .rollover-to-scale-img-and-reveal-copy:hover .related-item-img {
      transform: scale(1);
      opacity: 0.8;
      filter: alpha(opacity=80); }
    .related-item .rollover-to-scale-img-and-reveal-copy:hover .related-item-caption {
      bottom: 0;
      background-color: inherit; }
      .related-item .rollover-to-scale-img-and-reveal-copy:hover .related-item-caption > p {
        opacity: 1;
        filter: alpha(opacity=100); }
  .related-item .rollover-to-reveal-opacity {
    color: black; }
    .related-item .rollover-to-reveal-opacity .related-item-caption {
      bottom: 0;
      opacity: 0;
      filter: alpha(opacity=0); }
    .related-item .rollover-to-reveal-opacity:hover .related-item-caption {
      bottom: 0;
      opacity: 1;
      filter: alpha(opacity=100); }
  .two-up .related-item {
   /* @if $point == 500 {
  	  @media (min-width: 500px) { @content; }
    }
    @else if $point == max560 {
      @media (max-width: 560px) { @content; }
    }
    @else if $point == 600 {
      @media (min-width: 600px) { @content; }
    }
    @else if $point == 690 {
      @media (min-width: 690px) { @content; }
    }
    @else if $point == 700 {
      @media (min-width: 700px) { @content; }
    }
     @else if $point == 740 {
      @media (min-width: 740px) { @content; }
    }
     @else if $point == 900 {
      @media (min-width: 900px) { @content; }
    }
     @else if $point == 1000 {
      @media (min-width: 1000px) { @content; }
    }
     @else if $point == 1100 {
      @media (min-width: 1100px) { @content; }
    }
     @else if $point == 1266 {
      @media (min-width: 1266px) { @content; }
    }
     @else if $point == 1400 {
      @media (min-width: 1400px) { @content; }
    }
  
    
    @else if $point == mobile {
    	@media only screen and (max-device-width : 1136px){ @content; }
    }*/ }
    @media (min-width: 650px) {
      .two-up .related-item {
        flex-basis: 50%; } }
  .three-up .related-item {
   /* @if $point == 500 {
  	  @media (min-width: 500px) { @content; }
    }
    @else if $point == max560 {
      @media (max-width: 560px) { @content; }
    }
    @else if $point == 600 {
      @media (min-width: 600px) { @content; }
    }
    @else if $point == 690 {
      @media (min-width: 690px) { @content; }
    }
    @else if $point == 700 {
      @media (min-width: 700px) { @content; }
    }
     @else if $point == 740 {
      @media (min-width: 740px) { @content; }
    }
     @else if $point == 900 {
      @media (min-width: 900px) { @content; }
    }
     @else if $point == 1000 {
      @media (min-width: 1000px) { @content; }
    }
     @else if $point == 1100 {
      @media (min-width: 1100px) { @content; }
    }
     @else if $point == 1266 {
      @media (min-width: 1266px) { @content; }
    }
     @else if $point == 1400 {
      @media (min-width: 1400px) { @content; }
    }
  
    
    @else if $point == mobile {
    	@media only screen and (max-device-width : 1136px){ @content; }
    }*/ }
    @media (min-width: 650px) {
      .three-up .related-item {
        flex-basis: 33.3333%; } }

.related-item-img {
  width: 100%;
  height: auto;
  display: block; }

.related-item-caption {
  padding: 1em;
  position: absolute;
  width: 100%;
  bottom: -200px;
  -webkit-transition: all, 0.2s, ease-out;
  -moz-transition: all, 0.2s, ease-out;
  -ms-transition: all, 0.2s, ease-out;
  -o-transition: all, 0.2s, ease-out;
  transition: all, 0.2s, ease-out; }
  .related-item-caption > h3 {
    font-size: 18px;
    line-height: 16px;
    margin-bottom: 0.5em; }
  .related-item-caption > p {
    font-size: 14px;
    line-height: 16px; }

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

.main-wrapper {
  margin: 0px auto;
  max-width: 625px;
  margin: 5em auto; }
  .main-wrapper > h2 {
    background-color: #f94a2d;
    padding: 1em 1em;
    color: white;
    margin-bottom: 1em;
    font-size: 18px;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -o-transform: skew(-15deg); }
  .main-wrapper .proto-example-wrapper {
    margin-bottom: 1em; }
    .main-wrapper .proto-example-wrapper > p a {
      color: #ff0700;
      text-decoration: underline; }

.nav-wrapper {
  margin: 0px auto;
  max-width: 625px;
  margin: 5em auto;
  position: relative; }

.linebreak {
  background-color: #e5e5e5;
  border-color: #e5e5e5;
  color: #000;
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 1em; }

.deity-name-wrapper {
  width: 80%;
  height: 100px;
  position: relative;
  background-color: #f94a2d;
  padding-left: 33px;
  z-index: 10;
  -webkit-transition: background-color, 0.2s, ease-out;
  -moz-transition: background-color, 0.2s, ease-out;
  -ms-transition: background-color, 0.2s, ease-out;
  -o-transition: background-color, 0.2s, ease-out;
  transition: background-color, 0.2s, ease-out;
 /* @if $point == 500 {
	  @media (min-width: 500px) { @content; }
  }
  @else if $point == max560 {
    @media (max-width: 560px) { @content; }
  }
  @else if $point == 600 {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == 690 {
    @media (min-width: 690px) { @content; }
  }
  @else if $point == 700 {
    @media (min-width: 700px) { @content; }
  }
   @else if $point == 740 {
    @media (min-width: 740px) { @content; }
  }
   @else if $point == 900 {
    @media (min-width: 900px) { @content; }
  }
   @else if $point == 1000 {
    @media (min-width: 1000px) { @content; }
  }
   @else if $point == 1100 {
    @media (min-width: 1100px) { @content; }
  }
   @else if $point == 1266 {
    @media (min-width: 1266px) { @content; }
  }
   @else if $point == 1400 {
    @media (min-width: 1400px) { @content; }
  }

  
  @else if $point == mobile {
  	@media only screen and (max-device-width : 1136px){ @content; }
  }*/ }
  .deity-name-wrapper:before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -45px;
    left: 0;
    border-top: 45px solid #f94a2d;
    border-right: 45px solid transparent;
    -webkit-transition: border-top, 0.2s, ease-out;
    -moz-transition: border-top, 0.2s, ease-out;
    -ms-transition: border-top, 0.2s, ease-out;
    -o-transition: border-top, 0.2s, ease-out;
    transition: border-top, 0.2s, ease-out;
    z-index: 10; }
  .deity-name-wrapper:after {
    content: '';
    width: 50px;
    height: 0;
    position: absolute;
    right: -45px;
    top: 0;
    border-top: 100px solid #f94a2d;
    border-right: 46px solid transparent;
    -webkit-transition: border-top, 0.2s, ease-out;
    -moz-transition: border-top, 0.2s, ease-out;
    -ms-transition: border-top, 0.2s, ease-out;
    -o-transition: border-top, 0.2s, ease-out;
    transition: border-top, 0.2s, ease-out; }
  @media (min-width: 550px) {
    .deity-name-wrapper {
      width: 283px; } }

.deity-name-dropdown {
  position: absolute;
  height: 100px;
  width: 25%;
  right: -25%;
  top: 0;
  cursor: pointer;
  background-color: #c52106;
 /* @if $point == 500 {
	  @media (min-width: 500px) { @content; }
  }
  @else if $point == max560 {
    @media (max-width: 560px) { @content; }
  }
  @else if $point == 600 {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == 690 {
    @media (min-width: 690px) { @content; }
  }
  @else if $point == 700 {
    @media (min-width: 700px) { @content; }
  }
   @else if $point == 740 {
    @media (min-width: 740px) { @content; }
  }
   @else if $point == 900 {
    @media (min-width: 900px) { @content; }
  }
   @else if $point == 1000 {
    @media (min-width: 1000px) { @content; }
  }
   @else if $point == 1100 {
    @media (min-width: 1100px) { @content; }
  }
   @else if $point == 1266 {
    @media (min-width: 1266px) { @content; }
  }
   @else if $point == 1400 {
    @media (min-width: 1400px) { @content; }
  }

  
  @else if $point == mobile {
  	@media only screen and (max-device-width : 1136px){ @content; }
  }*/ }
  .deity-name-dropdown .arrow-down {
    position: absolute;
    bottom: 15%;
    right: 15%; }
  @media (min-width: 550px) {
    .deity-name-dropdown {
      display: none; } }

.deity-name {
  color: white;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.5em;
  letter-spacing: 0.1em;
  -webkit-transition: top, 0.2s, ease-out;
  -moz-transition: top, 0.2s, ease-out;
  -ms-transition: top, 0.2s, ease-out;
  -o-transition: top, 0.2s, ease-out;
  transition: top, 0.2s, ease-out;
  -webkit-transition: opacity, 0.2s, ease-out;
  -moz-transition: opacity, 0.2s, ease-out;
  -ms-transition: opacity, 0.2s, ease-out;
  -o-transition: opacity, 0.2s, ease-out;
  transition: opacity, 0.2s, ease-out;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); }

@keyframes deity-name-inout {
  0% {
    top: 50%; }
  50% {
    top: 90%;
    opacity: 0;
    filter: alpha(opacity=0); }
  75% {
    top: 25%;
    opacity: 0;
    filter: alpha(opacity=0); }
  100% {
    top: 50%;
    opacity: 1;
    filter: alpha(opacity=100); } }
.deity-name-active {
  animation: deity-name-inout 1s 1; }

.deity-nav-items-mobile {
  width: 100%;
  z-index: 1;
  overflow-y: hidden;
 /* @if $point == 500 {
	  @media (min-width: 500px) { @content; }
  }
  @else if $point == max560 {
    @media (max-width: 560px) { @content; }
  }
  @else if $point == 600 {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == 690 {
    @media (min-width: 690px) { @content; }
  }
  @else if $point == 700 {
    @media (min-width: 700px) { @content; }
  }
   @else if $point == 740 {
    @media (min-width: 740px) { @content; }
  }
   @else if $point == 900 {
    @media (min-width: 900px) { @content; }
  }
   @else if $point == 1000 {
    @media (min-width: 1000px) { @content; }
  }
   @else if $point == 1100 {
    @media (min-width: 1100px) { @content; }
  }
   @else if $point == 1266 {
    @media (min-width: 1266px) { @content; }
  }
   @else if $point == 1400 {
    @media (min-width: 1400px) { @content; }
  }

  
  @else if $point == mobile {
  	@media only screen and (max-device-width : 1136px){ @content; }
  }*/ }
  .deity-nav-items-mobile > ul {
    margin-top: -900px;
    -webkit-transition: all, 0.2s, ease-out;
    -moz-transition: all, 0.2s, ease-out;
    -ms-transition: all, 0.2s, ease-out;
    -o-transition: all, 0.2s, ease-out;
    transition: all, 0.2s, ease-out; }
  .deity-nav-items-mobile > ul a {
    color: white;
    display: block;
    padding: 1em 2em;
    background: #ec2707; }
    .deity-nav-items-mobile > ul a:nth-child(odd) {
      text-align: right;
      background: #d32306; }
  @media (min-width: 550px) {
    .deity-nav-items-mobile {
      display: none; } }

.deity-nav-items-mobile--on > ul {
  margin-top: 0; }

.deity-nav-items {
  position: absolute;
  left: 320px;
  top: 0;
  display: none;
 /* @if $point == 500 {
	  @media (min-width: 500px) { @content; }
  }
  @else if $point == max560 {
    @media (max-width: 560px) { @content; }
  }
  @else if $point == 600 {
    @media (min-width: 600px) { @content; }
  }
  @else if $point == 690 {
    @media (min-width: 690px) { @content; }
  }
  @else if $point == 700 {
    @media (min-width: 700px) { @content; }
  }
   @else if $point == 740 {
    @media (min-width: 740px) { @content; }
  }
   @else if $point == 900 {
    @media (min-width: 900px) { @content; }
  }
   @else if $point == 1000 {
    @media (min-width: 1000px) { @content; }
  }
   @else if $point == 1100 {
    @media (min-width: 1100px) { @content; }
  }
   @else if $point == 1266 {
    @media (min-width: 1266px) { @content; }
  }
   @else if $point == 1400 {
    @media (min-width: 1400px) { @content; }
  }

  
  @else if $point == mobile {
  	@media only screen and (max-device-width : 1136px){ @content; }
  }*/ }
  @media (min-width: 550px) {
    .deity-nav-items {
      display: flex; } }

.deity-nav-item {
  display: inline-block;
  width: 15px;
  height: 55px;
  margin-right: 0.25em;
  -webkit-transition: height, 0.2s, ease-out;
  -moz-transition: height, 0.2s, ease-out;
  -ms-transition: height, 0.2s, ease-out;
  -o-transition: height, 0.2s, ease-out;
  transition: height, 0.2s, ease-out;
  -webkit-transition: margin-right, 0.2s, ease-out;
  -moz-transition: margin-right, 0.2s, ease-out;
  -ms-transition: margin-right, 0.2s, ease-out;
  -o-transition: margin-right, 0.2s, ease-out;
  transition: margin-right, 0.2s, ease-out;
  -webkit-transition: margin-left, 0.2s, ease-out;
  -moz-transition: margin-left, 0.2s, ease-out;
  -ms-transition: margin-left, 0.2s, ease-out;
  -o-transition: margin-left, 0.2s, ease-out;
  transition: margin-left, 0.2s, ease-out;
  -webkit-transition: background-color, 0.2s, ease-out;
  -moz-transition: background-color, 0.2s, ease-out;
  -ms-transition: background-color, 0.2s, ease-out;
  -o-transition: background-color, 0.2s, ease-out;
  transition: background-color, 0.2s, ease-out;
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  background: black; }

.deity-nav-item-hover {
  background-color: #fa755f; }

.deity-nav-item-active {
  height: 200px;
  margin-left: -34px;
  margin-right: 38px;
  background: #f94a2d; }

.filter-slideout-wrapper {
  margin: 0px auto;
  max-width: 890px;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
  position: relative; }

.wrapper-header {
  height: 50px;
  background-color: #ff0700;
  position: relative;
  z-index: 5; }

.wrapper-header-filter-btn, .wrapper-header-slidedown-filter-btn {
  display: inline-block;
  padding: 0.75em 1.25em;
  color: white;
  margin-left: 19px;
  margin-top: 5px; }
  .wrapper-header-filter-btn:hover, .wrapper-header-slidedown-filter-btn:hover {
    color: #a5a5a5; }

.wrapper-header-text {
  color: white;
  float: right;
  line-height: 40px;
  padding-right: 19px;
  margin-top: 5px; }

.filter-sidebar, .filter-slidedown {
  background: white;
  position: absolute;
  top: 50px;
  left: -288px;
  width: 288px;
  height: 100%;
  -webkit-transition: left, 0.3s, ease-out;
  -moz-transition: left, 0.3s, ease-out;
  -ms-transition: left, 0.3s, ease-out;
  -o-transition: left, 0.3s, ease-out;
  transition: left, 0.3s, ease-out;
  overflow: scroll; }
  .filter-sidebar .filter-form-wrapper, .filter-slidedown .filter-form-wrapper {
    margin: 10px auto 100px;
    padding: 1em; }

.filter-sidebar-active {
  left: 0;
  -webkit-box-shadow: 0.25em 0em 4px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.25em 0em 4px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0.25em 0em 4px -2px rgba(0, 0, 0, 0.75); }

.filter-slidedown {
  left: 0;
  width: 100%;
  height: 400px;
  top: -400px;
  -webkit-transition: top, 0.3s, ease-out;
  -moz-transition: top, 0.3s, ease-out;
  -ms-transition: top, 0.3s, ease-out;
  -o-transition: top, 0.3s, ease-out;
  transition: top, 0.3s, ease-out;
  z-index: 1; }

.filter-slidedown-active {
  top: 50px; }

.content-container {
  border: 1px solid blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  .content-container > li {
    border: 1px solid purple;
    background: gray;
    width: 100%;
    display: block;
    list-style-type: none;
    text-align: center;
    margin-bottom: 1%;
    padding: 5em;
    color: aquamarine;
    font-size: 16px;
   /* @if $point == 500 {
  	  @media (min-width: 500px) { @content; }
    }
    @else if $point == max560 {
      @media (max-width: 560px) { @content; }
    }
    @else if $point == 600 {
      @media (min-width: 600px) { @content; }
    }
    @else if $point == 690 {
      @media (min-width: 690px) { @content; }
    }
    @else if $point == 700 {
      @media (min-width: 700px) { @content; }
    }
     @else if $point == 740 {
      @media (min-width: 740px) { @content; }
    }
     @else if $point == 900 {
      @media (min-width: 900px) { @content; }
    }
     @else if $point == 1000 {
      @media (min-width: 1000px) { @content; }
    }
     @else if $point == 1100 {
      @media (min-width: 1100px) { @content; }
    }
     @else if $point == 1266 {
      @media (min-width: 1266px) { @content; }
    }
     @else if $point == 1400 {
      @media (min-width: 1400px) { @content; }
    }
  
    
    @else if $point == mobile {
    	@media only screen and (max-device-width : 1136px){ @content; }
    }*/ }
    @media (min-width: 650px) {
      .content-container > li {
        width: 33%; } }

.filter-form-wrapper {
  margin: 0px auto;
  max-width: 300px;
  margin: 100px auto; }

.filter-form-heading {
  text-transform: uppercase;
  font-size: 14px;
  padding: 21px 0 5px;
  cursor: pointer;
  position: relative; }
  .filter-form-heading:hover {
    color: red; }

.filter-form--option {
  font-style: normal;
  font-weight: 400; }
  .filter-form--option:after {
    content: '+';
    position: absolute;
    right: 8px;
    top: 21px;
    width: 1em;
    height: 1em; }

.filter-form-option-selects {
  max-height: 0px;
  line-height: 24px;
  opacity: 0;
  filter: alpha(opacity=0);
  overflow-y: hidden;
  visibility: hidden;
  width: 100%;
  -webkit-transition: all, 0.3s, ease-out;
  -moz-transition: all, 0.3s, ease-out;
  -ms-transition: all, 0.3s, ease-out;
  -o-transition: all, 0.3s, ease-out;
  transition: all, 0.3s, ease-out; }
  .filter-form-option-selects > ul {
    margin: 0 0 4px; }

.filter-form-selects-checkbox {
  display: block;
  padding-left: 27px;
  position: relative;
  color: black;
  font-size: 14px;
  -webkit-transition: color, 0.1s, ease-out;
  -moz-transition: color, 0.1s, ease-out;
  -ms-transition: color, 0.1s, ease-out;
  -o-transition: color, 0.1s, ease-out;
  transition: color, 0.1s, ease-out; }
  .filter-form-selects-checkbox:hover {
    color: #ff0700; }
  .filter-form-selects-checkbox:before {
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    display: inline-block;
    margin-left: -27px;
    position: relative;
    top: 3px; }
  .filter-form-selects-checkbox > label {
    margin-left: -2px;
    cursor: pointer; }

.filter-form-selects-checkbox.selected:after {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: '';
  border-width: 0 0 2px 2px !important;
  height: 6px;
  width: 9px;
  border: solid #111;
  margin: 9px 0 0 2px;
  left: 0;
  top: 0; }

.filter-form-option-in {
  display: block;
  visibility: visible;
  max-height: 999em; }

.filter-form-option-open:after {
  content: '-'; }

.fade-in {
  opacity: 1;
  filter: alpha(opacity=100); }

.more-filters-btn {
  text-align: center;
  border: 1px solid #a5a5a5; }
  .more-filters-btn > a {
    display: block;
    padding: 10px;
    -webkit-transition: all, 0.2s, ease-out;
    -moz-transition: all, 0.2s, ease-out;
    -ms-transition: all, 0.2s, ease-out;
    -o-transition: all, 0.2s, ease-out;
    transition: all, 0.2s, ease-out; }
    .more-filters-btn > a:hover {
      background: #ff0700;
      color: white; }

#amount {
  margin: 1em auto; }

#slider {
  margin: 0px auto;
  max-width: 80%; }

.ui-slider-handle {
  outline: none; }

/*# sourceMappingURL=style.css.map */
